{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        Olá, usuário!
                    </h2>
                    <p>
                        Bem-Vindo ao sistema de cadastro do cartão Alelo. Para cadastrar algum valor selecione o Mês
                        desejado no drop-menu acima.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}