{% extends 'base/base.html' %}
{% load static %}
{% block title %}Alelo - Home{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        {% if user.is_authenticated %}
                            Olá, {{ user.first_name }}!
                        {% else %}
                            Olá!
                        {% endif %}
                    </h2>
                    <p>
                        {% if user.is_authenticated %}
                            Bem-Vindo ao sistema de cadastro de valores gastos no cartão Alelo. Para cadastrar algum valor selecione o Mês
                            desejado no drop-menu acima.
                        {% else %}
                            Bem-Vindo ao sistema de cadastro de valores gastos no cartão Alelo. Para começar realize o login.
                        {% endif %}
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}