{% extends 'base/base.html' %}
{% block title %}Home - Meses{% endblock title %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        Olá, usuário!
                    </h2>
                    <p>
                        Para cadastrar algum valor para o mês de <b>Janeiro</b> basta digitar o mesmo
                        no campo de texto abaixo e clicar no botão 'Adicionar'.
                    </p>

                </div>

                <form action="{% url 'base:home' %} " method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Adicionar valor</label>
                        <input type="number" step="0.01" min="0.01" class="form-control" id="formGroupExampleInput"
                               placeholder="R$">
                        <br>
                        <button type="button" class="btn btn-outline-primary">Adicionar</button>

                    </div>
                </form>

                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Data
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}