language: python
sudo: true

python:
  - 3.9

services:
  - postgresql
addons:
  postgresql: '9.5'

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
install:
  - pip install pipenv
  - pipenv sync --dev

script:
  - pipenv run flake8 .
  - pipenv run pytest --cov=alelo

after_success:
  - pipenv run codecov